
	
<%- include('includes/head.ejs') %>



<%- include('includes/nav2.ejs') %>
		<!-- not-found-area start -->
		<div class="not-found">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-not-found">
							<h1 class="entry-title"><%=subjectMessage%></h1>
							<h2 class="small-title"><%=message%></h2>
							<p><strong>you can always head back <a title="Back to Home" href="/">home</a> and start over.</strong></p>
							<a class="go-to-home" href="/">Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- not-found-area end -->



		
		
        <%- include('includes/footer.ejs') %>