<%- include('includes/head.ejs') %>

<%- include('includes/nav2.ejs') %>


 <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="form-group" action="/newPassword" method="POST" style="max-width: 500px;
        margin: 20% auto 40%;">
            <div class="form-group">
                <label for="Email">Email address</label>
                <input type="email"  name="email"class="form-control" id="Email" aria-describedby="emailHelp">
               
              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password"  name="password"class="form-control" id="password" >
               
              </div>

         
            <button class="btn" type="submit">Reset Password</button>
            <input type="hidden" name="userId" value="<%=userId%>"></input>
            
         
            
        </form>
    </main>


    <%- include('includes/footer.ejs') %>